/*pub_footer*/
.pub_footerall{margin:5px auto;width:auto; overflow:hidden; padding:3px 6px;border-top:1px solid #CCC; font-size:12px; text-align:center; clear:both;}
.pub_footerall dl{padding:3px 0 3px; overflow:hidden; margin:0; line-height:1.5; font-family:simsun;}
.pub_footerall dd a{padding:0 5px; margin:0;}
.pub_footerall dd a:link, .pub_footerall dd a:visited, .pub_footerall dd a:active{color:#000; text-decoration:none;}
.pub_footerall dd a:hover{color:#015FB6;}
.pub_footerall dd img{border:0;}
.pub_footerall dt {text-align:center; padding-top:5px; margin:0;}
.pub_footerall dt a{padding:0; margin:5px; display:inline;}
.pub_footerall dt a img{border:1px solid #ccc; width:115px; height:45px;}