/********
csdn community style files
Author:Kimi;
Mail:simplefeel777@gmail.com;
Time:2009-4-1
********/
body { text-align: center; margin: 0 auto; font: normal 12px simsun; }
img { border: 0px; }
input, button, textarea { font: normal 12px simsun; color: #666; }
select { color: Black; }
.clear { clear: both; }
.divclear:after { content: "."; display: block; visibility: hidden; height: 100%; clear: both; }
a { color: #002D93; text-decoration: none; }
/*a:visited{color: #B00;text-decoration:none;}*/
a:hover { color: #B00; text-decoration: underline; }

#bbscsdn_wrap { background: #FFF; width: 960px; margin: 0 auto; }
* html #bbscsdn_wrap { background: #FFF; width: 963px; margin: 0 auto; }

.tad, .nav, .loc, .fm, .tit, .mframe, .sq, .comt, .pub_footer, .gbtxtad { float: left; width: 960px; margin: 2px 0; text-align: left; }
.tad ul, .nav ul, .fm ul, .mframe ul, .comt ul, .mframe2 ul { margin: 0; padding: 0; list-style-type: none; }
/***Top AD***/
.tad ul { width: 960px; float: left; font-size: 1px; }
.tad ul li.l { float: left; }
.tad ul li.r { float: right; }
/***Navigation***/
.nav {
    padding:0;
    width: 960px;
}
.nav img.logo {
    height: 54px;
    margin: 0 0 0 10px;
    width: 146px;
}
.nav .searchpanel,.nav .user{width: 742px; text-align: right; float: right; margin-top:20px;}
.nav input{ vertical-align:middle;}
.nav input[type="text"] { height:18px; }

/***Loction guide***/
.loc { width: 948px; border: 1px solid #A9CBEE; padding: 5px 5px; }
.loc p { margin: 0; padding: 0; line-height: 35px; }
.loc p img { float: right; }
.loc p a { padding: 0 5px; color: #333; }
/***Function Menu***/
.fm { width: 948px; border: 1px solid #A9CBEE; padding: 5px 5px; background: #FAFAFB; }
.fm ul.menu { float: left; width: 500px; }
.fm ul.menu li { float: left; background: url(http://c.csdn.net/bbs/t/5/i/bbspage_addpic1.gif) repeat-x; margin: 0 4px 0 0; }
.fm ul.menu table { position: relative; border-collapse: collapse; z-index: 100; left: -45px; top: 1px; }
.fm ul.menu li a, .fm ul.menu li :visited { color: #333; padding: 0 0 0 5px; border: 1px solid #0C61B0; display: block; width: 80px; height: 22px; line-height: 22px; text-decoration: none; text-align: center; }
html > /**/ body .fm ul.menu li a, .fm ul.menu li :visited { line-height: 23px; }
.fm ul.menu li :hover { background: #E5ECF3; z-index: 110; }
.fm ul.menu ul { visibility: hidden; position: absolute; width: 85px; margin: 0; border-top: 0; }
.fm ul.menu ul li { border-bottom: 1px solid #BDD9E8; background: #E5ECF3; color: #FFF; }
.fm ul.menu ul li a, .fm ul.menu ul li :visited { border: 0; color: #000; }
.fm ul.menu ul li a { color: #000; font-weight: normal; }
.fm ul.menu ul li :hover { background: #E5ECF3; }
.fm ul.menu li:hover ul, .fm ul.menu a:hover ul { visibility: visible; color: #FFF; }
.fm ul.menu li a.bt1 { background: url(http://c.csdn.net/bbs/t/5/i/bbspage_addpic2.gif) 0 -2px no-repeat; }
.fm ul.menu li a.bt2 { background: url(http://c.csdn.net/bbs/t/5/i/pic_04.gif) 3px 4px no-repeat; color: #B00; }
.fm ul.menu li a.bt3 { background: url(http://c.csdn.net/bbs/t/5/i/pic_01.gif) 3px 4px no-repeat; }
.fm ul.menu li a.bt4 { background: url(http://c.csdn.net/bbs/t/5/i/pic_08.gif) 3px 3px no-repeat; color: #B00; }
/*pagelist*/
.fm ul.plist { float: right; height: 22px; }
.fm ul.plist li { float: left; margin: 0 3px; }
.fm ul.plist li a { color: #333; height: 22px; line-height: 22px; float: left; display: block; }
.fm ul.plist li em { font-style: normal; }
.fm ul.plist li em a { float: left; display: block; border: 1px solid #1E7DD5; padding: 0 5px; }
/*\*//*/
.fm ul.plist li em a{margin:-12px 0 0;}
/**/
.fm ul.plist li em a:hover { background: #BFDAF2; text-decoration: none; }
.fm ul.plist li em a.on { background: #BFDAF2; }
/*bbs artical title*/
.tit { border: 1px solid #2C6189; background: url(http://c.csdn.net/bbs/t/5/i/pic_titbg02.gif) #347ea1 repeat-x; width: 948px; padding: 3px 5px; }
.tit h1 { font-size: 14px; color: #fff; margin: 0; padding: 3px 0 0; }
.tit h1 em { font: bold 14px simsun; font-style: normal; color: #F00; margin: 0 0 0 3px; }
.tit h1 cite { float: right; }
.tit dfn a, .tit dfn a:visited { margin: -3px 0 0 5px; text-indent: -1000em; font-style: normal; font-size: 12px; float: right; display: block; background: url(http://c.csdn.net/bbs/t/5/i/bbsbtn_fav.gif) no-repeat; width: 52px; height: 22px; }
.tit code a, .tit code a:visited { margin: -3px 0 0 5px; text-indent: -1000em; font-style: normal; font-size: 12px; float: right; display: block; background: url(http://c.csdn.net/bbs/t/5/i/bbsbtn_share.gif) no-repeat; width: 52px; height: 22px; }

/****table frame test****/
/***bbs content frame***/
.mframe { float: left; width: 960px; margin: 2px 0; text-align: left; }
.mframe ul { list-style-type: none; margin: 0; padding: 0; }
.mframe { border: 1px solid #A9CBEE; }
.mframe td.lf { width: 162px; background: #f6f9fe; padding: 20px 10px 13px 15px; border-right: 1px solid #A9CBEE; vertical-align: top; }
.mframe td.lf div.df { width: 162px; }
.mframe td.lf ul li { padding: 4px 0; }
.mframe td.lf ul li.center { text-align: left; }
.mframe td.lf ul li.center img { border: 1px solid #CCC; }
.mframe td.lf ul li dfn { font-weight: bold; font-style: normal; display: block; padding: 2px 0 2px 0; text-align: left; }
.mframe td.lf ul li dfn a { color: #333; }
.mframe td.lf ul li cite { float: left; display: block; background: url(http://c.csdn.net/bbs/t/5/i/bbspage_addpic4.gif) right no-repeat; font-style: normal; height: 25px; line-height: 25px; margin: 0 3px 0 0; }
.mframe td.lf ul li cite a { float: left; display: block; background: url(http://c.csdn.net/bbs/t/5/i/bbspage_addpic3.gif) left no-repeat; padding: 0 5px; }
.mframe td.lf ul li cite a:hover { text-decoration: none; }
.mframe td.lf ul li em { float: left; font-style: normal; margin: 23px 0 0; }
.mframe td.lf ul li em a { color: #000; }
/*--05-21--*/
.mframe td.lf ul li div.medalregion { float: left; }
.mframe td.lf ul li div.medalregion div { float: left; }
.mframe td.lf ul li div.medalregion div p.medalnum { color: #FFF; font: bold 9px Tahoma,simsun; margin: 2px 0 0 19px; }
/*--05-21--*/
.mframe td.rw { vertical-align: top; }
.mtxt { font-size: 14px; margin: 10px 0; padding: 10px 20px; line-height: 23px; width: 100%; }
.mtxt p.unlog { margin: 30px 0 0; background: url(http://c.csdn.net/bbs/t/5/i/pic_09.gif) 10px 20px #EFEFEF no-repeat; border: 1px solid #CCC; font: bold 14px simsun; padding: 30px 10px 30px 50px; }
.mtxt p.unlog a { padding: 0 5px; color: #C30; }
.mtxt p.be { font-size: 12px; background: #EFEFEF; color: #b00; border: 1px solid #CCC; text-align: left; padding: 5px 15px; margin: 10px 0; width: 250px; white-space: nowrap; }

/*2009-07-01 modify*/
.msgfont { width: 718px; overflow-x: hidden; word-break: break-all; }
.msgfont span { line-height: 150%; }

/*2009-07-01 modify*/
.mtxt fieldset { border: 1px solid #CAD9EA; font: normal 12px/19px simsun; padding: 10px; margin: 10px; width: 620px; overflow-x: hidden; word-break: break-all; }
.mtxt fieldset legend { font: bold 12px simsun; color: #666; padding: 5px10px; }

.fbart { padding: 3px 6px; border-bottom: 1px solid #A9CBEE; height: 18px; line-height: 18px; }
.fbart em { font-weight: bold; font-style: normal; padding: 0 3px; float: right; }
.fbart dfn { font-style: normal; padding: 0 3px; float: right; }
.fbart dfn code { color: #C30; font-style: normal; }
.mframe td.rb { vertical-align: bottom; }
.fbarb { clear: both; border-top: 1px solid #A9CBEE; background: #f6f9fe; height: 18px; padding: 3px 6px; line-height: 18px; }
.fbarb ul { float: right; }
.fbarb ul li { float: left; }
.fbarb ul li a { color: #000; padding: 0 6px; text-decoration: none; border-right: 1px solid #666; }
.fbarb ul li a.nob { border: 0; }
.fbarb ul li a.dr { color: #B00; }
.fbarb ul li a.gr { color: #002D93; }
/*2009-06-01 Modify*/
.fbarb div.rt { width: 440px; overflow: hidden; white-space: nowrap; }
/*.fbarb a{text-decoration:underline;}*/

/******/
.sq { width: 958px; border: 1px solid #a9cbee; float: left; }
.sq dl { margin: 0; padding: 0; width: 958px; float: left; }
.sq dt { background: #f6f9fe; border-bottom: 1px solid #a9cbee; padding: 5px 10px; font-size: 14px; margin: 0 0 5px; font-weight: bold; color: #000; }
.sq dd { font-size: 14px; width: 450px; float: left; margin: 1px 2px; padding: 0 0 0 19px; line-height: 20px; height: 20px; background: url(http://c.csdn.net/bbs/t/5/i/pic_dot.gif) 8px 8px no-repeat; overflow: hidden; white-space: nowrap; }
.sq dd a { color: #002D93; text-decoration: underline; }
.sq dd a:hover { text-decoration: underline; color: #B00; }
/**/
.comt { width: 960px; border: 1px solid #a9cbee; float: left; padding: 10px 0 2px 10px; }
.c_rc { float: right; width: 730px; display: inline; }
.c_rc h6 { font: normal 12px simsun; color: #333; padding: 0 5px; margin: 0 0 5px; line-height: 22px; }
.c_rc h6 em { font-weight: bold; margin: 0 15px 0 0; font-style: normal; }
.c_rc h6 a { padding: 0 4px; color: #B00; font-weight: bold; }
.c_rc p { border: 1px solid #EBEBEB; margin: 3px 0; padding: 0 10px; background: #F6F6F6; line-height: 23px; color: #070c70; }
/**/
/**/
img.grade { background: url(http://c.csdn.net/bbs/t/5/i/rank.gif) no-repeat; }
img.user1 { width: 11px; height: 9px; }
img.user2 { width: 22px; height: 9px; }
img.user3 { width: 33px; height: 9px; }
img.user4 { width: 44px; height: 9px; }
img.user5 { width: 55px; height: 9px; }
img.star1 { background-position: 0px -12px; width: 10px; height: 9px; }
img.star2 { background-position: 0px -12px; width: 20px; height: 9px; }
img.star3 { background-position: 0px -12px; width: 30px; height: 9px; }
img.star4 { background-position: 0px -12px; width: 40px; height: 9px; }
img.star5 { background-position: 0px -12px; width: 50px; height: 9px; }
img.diam1 { background-position: 0px -24px; width: 16px; height: 13px; }
img.diam2 { background-position: 0px -24px; width: 32px; height: 13px; }
img.diam3 { background-position: 0px -24px; width: 48px; height: 13px; }
img.diam4 { background-position: 0px -24px; width: 64px; height: 13px; }
img.diam5 { background-position: 0px -24px; width: 80px; height: 13px; }
/***google&baidu textad***/
.gbtxtad div.gbl { float: left; width: 468px; }
.gbtxtad div.gbr { float: right; width: 468px; }
/*****/
.pub_footer { padding: 3px 0; float: left; border-top: 1px solid #CCC; }
.pub_footer dl { padding: 5px 0 0; margin: 0; text-align: center; }
.pub_footer dd { padding: 0 0 5px; }
.pub_footer dd a { padding: 0 5px; }
.pub_footer dd a { color: #000; text-decoration: none; }
.pub_footer dd a:hover { color: #015FB6; text-decoration: underline; }

/* CodeHighlighter used */
dl.code { width: 718px; overflow: auto; font-size: 12px; }
dl.code dt { background-color: #F5F5F5; height: 24px; line-height: 24px; font-weight: bold; text-indent: 6px; color: #333333; }
dl.code dd { border: solid 1px #DDDDDD; margin: 0; }

/* Medal */
.medalregion { color: White; font-family: Tahoma,sans-serif; font-size: 8px; font-size-adjust: none; font-style: normal; font-variant: normal; font-weight: bold; line-height: normal; }
.moremedal { color: black; font-family: simsun; font-size: 12px; font-weight: normal; line-height: 55px; padding-left: 5px; }

/*==bbs ask page style=*/
.askfra { width: 960px; background: #AACBEE; border: 0; margin: 0 auto; }
.askfra a { color: #03C; }
.askfra th.atit { background: url(http://c.csdn.net/bbs/t/5/i/pic_23.gif) repeat-x; height: 15px; color: #fff; padding: 7px 56px; border: 1px solid #FFF; }
.askfra td { background: #fff; padding: 10px; vertical-align: middle; }
.askfra td.bg { background: #F6F9FE; font-weight: bold; text-align: right; width: 15%; }
.askfra td.boxtit input { font: normal 20px simsun; border: 1px solid #CDE2F8; padding: 2px; }
.askfra td ul, dl, form { margin: 0; padding: 0; }
.askfra td em { font-style: normal; color: #F00; }
.askfra td input.point { border: 1px solid #CDE2F8; padding: 2px; }
.askfra td ul.abtn:after { content: "."; display: block; visibility: hidden; clear: both; height: 1px; }
.askfra td ul.abtn li { background: url(http://c.csdn.net/bbs/t/5/i/btn_01.gif) no-repeat; float: left; margin: 0 6px 0 0; height: 28px; line-height: 28px; text-align: center; width: 82px; }
.askfra td ul.abtn li a { color: #000; }
.askfra td ul.abtn li a:hover { text-decoration: none; }
.askfra td ol { clear: both; margin: 10px 0 0 0; border: 1px solid #b9b9b9; background: #f7f7f7; padding: 5px 30px; line-height: 150%; color: #070c70; }

/*= Login =*/
.mtxt td p.login { width: 720px; border: 1px solid #cdcdcd; background: #f7f6f6; margin: 20px 0px 0px 0px; color: #000000; font-weight: bold; padding: 20px 0px; text-align: center; vertical-align: bottom; font-size: 14px; }
.mtxt td p.login img { vertical-align: middle; }
.mtxt td p.login a { color: #b70505; }
.mtxt td p.login a:link { color: #b70505; text-decoration: none; }
.mtxt td p.login a:hover { color: #b70505; text-decoration: underline; }

.prime, .lock { color: Red; }

/*check out area */
.chout { position: absolute; max-width: 400px; display: none; float: left; overflow: visible; max-height: 22px; }
.chout div { float: left; margin: 0 2px; padding: 1px 0; }
.chout .menu { background-color: #E5ECF3; border: 1px solid #BDD9E8; float: left; height: 14px; margin: 0; padding: 4px 8px; width: 80px; }
.chout .menu a { color: black; padding: 0 7px; margin: 0; }
.chout .arrow { color: #ffb943; }

.c_rc ol { border: 1px solid #EBEBEB; background: #F6F6F6; margin: 10px 0 0; padding: 6px 20px; }
/*09-05-27 modify*/
.c_rc ol li { margin: 0 0 0 15px; line-height: 23px; color: #070c70; }
.c_rc ol li a { text-decoration: underline; }

.c_lc dl li { list-style-type: none; background: url(http://c.csdn.net/bbs/t/5/i/pic_dot.gif) 0 8px no-repeat; padding: 0 0 0 10px; margin: 0; line-height: 21px; width: 200px; overflow: hidden; white-space: nowrap; }

ul .honor { display: none; }
.hidden { display: none; }
